* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding-top: 100px;
    background: url(./—Pngtree—hand\ drawn\ math\ education\ calculator_1178880.jpg);
}

.container {
    width: 350px;
    height: 400px;
    margin: 0 auto;
}

.box {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    width: 420px;
    height: 515px;
    box-shadow: #ef6464;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    

}

.window {
    width: 100%;
    height: 180px;
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
  background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
  border: 0;
  border-radius: 12px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.button-62:not([disabled]):focus {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.button-62:not([disabled]):hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
  
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding-right: 10px;
    padding-bottom: 10px;
}


.window-text {
    font-family: 'Roboto', sans-serif ;
    font-size: 30px;
    overflow: hidden;
}

.btn {
   color: #EF4765;
   width: 80px;
   height: 80px;
}


.btnn {
    width: 80px;
    height: 80px;
}
